[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git://github.com/lunaru/vim-less.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-buffalo"]
	path = .vim/bundle/vim-buffalo
	url = https://github.com/Raimondi/vim-buffalo
[submodule ".vim/bundle/vimple"]
	path = .vim/vimple
	url = https://github.com/dahu/vimple.git
